body {
    font-family: 'Poppins', 'Open Sans', sans-serif;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Mono', 'Open Sans', sans-serif;
}

p {
    font-family: 'Poppins', 'Open Sans', sans-serif;
    color: white;
}

a {
    color: white;
}

a:hover {
    font-weight: bold;
    color: white
}

.bg-dark {
    background-color: #575757!important;
}

.card {
    border: 1px solid ;
    border-radius: 24px;
    border-color: #636363!important;
    background: #636363;
    box-shadow:  15px 15px 24px #242424, 
                -15px -15px 24px #919191;
}

.answer {
    display: none;
}

.btn {
    border-radius: 24px;
    color: white;
    background: #636363;
    box-shadow:  6px 6px 12px #242424, 
                 -6px -6px 12px #919191;
}

.btn:hover {
    border-radius: 24px;
    background: linear-gradient(145deg, #242424, #919191);
    box-shadow:  6px 6px 12px #242424, 
                -6px -6px 12px #919191;
    color: white;
    font-weight: bold;

}

li {
    margin-top: 1rem;
}

.summary {
    color: white;
}

h5 {
    font-weight: bold;
}