body {
    font-family: 'Open Sans', sans-serif;
}

.bg-dark {
    background-color: #a0c7ea!important;
}

.card {
    border: 1px solid ;
    border-radius: 24px;
    border-color: #a0c7ea!important;
    background: #a0c7ea;
    box-shadow:  20px 20px 30px #8aabc9, 
                -20px -20px 30px #b6e3ff;
}

.answer {
    display: none;
}

.btn {
    border-radius: 24px;
    color: black;
    font-style: ;
    background: #a0c7ea;
    box-shadow:  6px 6px 12px #8aabc9, 
                 -6px -6px 12px #b6e3ff;
}

.btn:hover {
    border-radius: 24px;
    background: linear-gradient(145deg, #90b3d3, #abd5fa);
    box-shadow:  6px 6px 12px #8aabc9, 
                -6px -6px 12px #b6e3ff;
}