{{ define "main" }}
<main>
	<script>
		$(document).ready(function () {
			$(".answer-toggle").click(function () {
				$(".answer").toggle();
			});
		});
	</script>
	<div class="col-sm-6 mx-auto ">
		<div class="card m-4 ">
			<div class="card-body">
				<h5 class="card-title">#{{ .Title }}</h5>
				<p class="card-text">{{ .Content }}</p>
			</div>
		</div>
		<div class="answer-toggle text-center">
			<a href="#" class="btn">Reveal Answer</a>
		</div>
		<div class="answer text-center m-4">
			<h4>{{ .Params.answer }}</h4>
		</div>
		<div class="container text-center mt-4">
			{{with .Next}}
			<a class="btn m-1" href="{{.Permalink}}">Previous Movie</a>
			{{end}}
			{{if .PrevPage}}
			<a class="btn m-1" href="{{.PrevPage.Permalink}}">Next Movie</a>
			{{end}}
		</div>
		<br>
	</div>
</main>
{{ end }}