<div class="card m-4">
    <div class="rules card-body">
        <h5 class="card-title">How To Play FrankenMovies</h5>
        <p class="card-text">
            <ul>
                <li>It's really simple: <b>Guess the FrankenMovie from the plot.</b></li>
                <li>A FrankenMovie is a combination of two movies where the last word of one movie is the same as
                    the first word of another movie so that their names can be combined.</li>
                <li>Example: "A global threat from the villain Thanos causes a giant tripod to descend on the earth" is
                    the plot to the FrankenMovie "Avengers: Infinity War of the Worlds".</li>
                <li>To form the FrankenMovies, we have not dropped articles from movie names. For example, it is not
                    possible to do The Shape of Waterboy, because the title to the second film is actually "The
                    Waterboy".</li>
            </ul>
        </p>
    </div>
</div>