<div class="col-lg-6 mx-auto">
    <a name="submission"></a>
    <div class="card m-4">
        <div class="rules card-body">
            <h5 class="card-title">Submit Your Own</h5>
            <p class="card-text">
                <form name="submissions" netlify>
                    <div class="form-group">
                        <label for="emailAddress" name="email">Email address:</label>
                        <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp"
                            name="email" placeholder="chris@hemsworth.au">
                    </div>
                    <div class="form-group">
                        <label for="plot" name="plot">FrankenMovie Plot:</label>
                        <textarea class="form-control" id="plot" rows="3" name="plot"
                            placeholder="A man gets a new job hunting down aliens but accidentally ends up fighting a newly coronated king of a fictional African country."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="answer" name="answer">Answer:</label>
                        <input type="text" class="form-control" id="answer" placeholder="Men In Black Panther"
                            name="answer">
                    </div>
                    <button type="submit" class="btn">Submit</button>
                </form>
            </p>
        </div>
    </div>
</div>